@charset "utf-8";
/* CSS Document */


*{
	margin:0px;
	padding:0px;
	font-family: Helvetica, Tahoma, Arial;
	color:black;
	box-sizing:border-box;
	color:black;
}

body{
	background-color:#DE9D79;
}

a{
	text-decoration:none;
}

img{
	display:block;
}

.all{
	width:1760px;
	height:100%;
	margin:auto auto;
/*	border:3px blue solid;*/
	margin-top:20px;
	position:relative;
}

.header{
	height:100px;
}

.logo{
	float:left;
	width:340px;
	height:88px;
	
}



.sort{
	float:right;
	width:520px;
	z-index:1;
}

.sort a{
	letter-spacing:-1px;
	font-size:30px;
	font-weight:normal;
	line-height:88px;
	padding-left:10%;
}

.sort a:hover{
	color:white;
	text-decoration: underline;
}

.title{
	width:100%;
	text-align:center;
	margin:auto;
	font-size:60px;
	margin-top:1%;
	height:70px;
}

.run_pc{
	width:1760px;
	height:auto;
	margin-top:20px;
	margin-bottom:2%;
	float:left;
/*	border:2px red solid;*/
}

.left{
	position:absolute;
	top:44%;
	left:-3%;
	float:left;
}

.right{
	position:absolute;
	top:44%;
	right:-3%;
	float:left;
}



/*左右60*2 中間30*2 => 180*/


.run_pc .run:hover{
	transform:scale(1.05);
	box-shadow: 0px 0px 15px #803f1b;
}


/*這邊的位置要修正........+++++++++*/
.run .product_intro{
	width:400px;
	height:400px;

/*	background-color:red;*/
	position:absolute;
	/* margin	auto失效..................*/
	margin-left:12%;
	margin-top:25%;
}

.run .product_intro h2{
	color:white;
	font-size:100px;
	text-transform:uppercase;
}

.run .product_intro h3{
	color:white;
	font-size:20px;
	margin:0 auto;
	margin-top:60px;
	padding:5px 10px;
	border:3px white solid;
	width:90px;
	font-family:微軟正黑體;
}










.footer{
	width:100%;
	height:150px;
/*	border:3px #852EBF solid;*/
	float:left;
}

.footer .icon{
	width:396px;
	margin:auto;
/*	border:2px #126E31 solid;*/
}

.footer .icon a{
	display:inline-block;
	margin-right:80px;
	padding:10px;
}

.footer .icon a:nth-of-type(3){
	margin-right:0px;
}

.footer .footer_text{
	width:500px;
	height:30px;
	margin:10px auto;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	text-transform: uppercase;
/*	border:3px red solid;*/
}

.clearfix{
	clear:both
}


/*---------------hammer輪播導入----------*/

.container_carru {
  background-color:#DE9D79;
/*  position: relative;*/
 
  /*cierre actions*/
  /*cierre items*/
}
.container_carru #actions #arrowrigth .arrowrigth {
  cursor: pointer;
  top: 50%;
  width: 5%;
  position: absolute;
  z-index: 201;
  right: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.container_carru #actions #arrowleft .arrowleft {
  cursor: pointer;
  top: 50%;
  width: 5%;
  position: absolute;
  z-index: 201;
  left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}





.container_carru #items {
  padding: 2%;
  padding-bottom:0;
  cursor: move;
  z-index: 200;
/*  overflow: hidden;*/
  height: 650px;
  position: relative;
  /*lado izquierdo*/
}
/*
@media only screen and (max-width: 2150px) {
  .container_carru #items {
    height: 630px;
  }
}
@media only screen and (max-width: 2000px) {
  .container_carru #items {
    height: 570px;
  }
}
@media only screen and (max-width: 1900px) {
  .container_carru #items {
    height: 540px;
  }
}
@media only screen and (max-width: 1780px) {
  .container_carru #items {
    height: 500px;
  }
}
@media only screen and (max-width: 1680px) {
  .container_carru #items {
    height: 470px;
  }
}
@media only screen and (max-width: 1565px) {
  .container_carru #items {
    height: 420px;
  }
}
@media only screen and (max-width: 1430px) {
  .container_carru #items {
    height: 390px;
  }
}
@media only screen and (max-width: 1330px) {
  .container_carru #items {
    height: 360px;
  }
}
@media only screen and (max-width: 1230px) {
  .container_carru #items {
    height: 330px;
  }
}
@media only screen and (max-width: 970px) {
  .container_carru #items {
    height: 310px;
  }
}
@media only screen and (max-width: 875px) {
  .container_carru #items {
    height: 270px;
  }
}
@media only screen and (max-width: 785px) {
  .container_carru #items {
    height: 240px;
  }
}
@media only screen and (max-width: 700px) {
  .container_carru #items {
    height: 235px;
  }
}
@media only screen and (max-width: 640px) {
  .container_carru #items {
    height: 150px;
  }
}
@media only screen and (max-width: 400px) {
  .container_carru #items {
    height: 125px;
  }
}
*/
.container_carru #items #item {
  display: none;
  height: 80%;
  position: absolute;
  transition:all 0.5s;
}


.container_carru #items .img_left {
  display: block !important;
  left: 50%;
  opacity: 0.4;
  z-index: 0;
  -webkit-transform: translateX(-100%) scale(0.9);
  -moz-transform: translateX(-100%) scale(0.9);
  -o-transform: translateX(-100%) scale(0.9);
  transform: translateX(-100%) scale(0.9);
}
.container_carru #items .img_rigth {
  display: block !important;
  left: 50%;
  opacity: 0.4;
  -webkit-transform: translateX(0%) scale(0.9);
  -moz-transform: translateX(0%) scale(0.9);
  -o-transform: translateX(0%) scale(0.9);
  transform: translateX(0%) scale(0.9);
 
	

}




.container_carru #items .img_center {
  display: block !important;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  z-index: 90;
  position:relative;
}





.container_carru #items .img_center:hover{
  box-shadow: 3px 3px 15px 5px #000000;
}


.container_carru #items .img_center:hover .cover{
	transition:all 2s;
	width:834px;
	height:625px;
	opacity:1;
}


.container_carru #items .animaterigthR {
  -webkit-animation-name: rigthR;
  -moz-animation-name: rigthR;
  -o-animation-name: rigthR;
  animation-name: rigthR;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes rigthR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90;
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 50;
  }
  100% {
    opacity: 0.4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
}
@-webkit-keyframes rigthR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90;
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 50;
  }
  100% {
    opacity: 0.4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
}
.container_carru #items .animaterigthL {
  -webkit-animation-name: rigthL;
  -moz-animation-name: rigthL;
  -o-animation-name: rigthL;
  animation-name: rigthL;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes rigthL {
  0% {
    left: 50%;
    opacity: 0.1;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
  100% {
    left: 50%;
    opacity: 0.4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
}
@-webkit-keyframes rigthL {
  0% {
    left: 50%;
    opacity: 0.1;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
  100% {
    left: 50%;
    opacity: 0.4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
}
.container_carru #items .animaterigthC {
  -webkit-animation-name: rigthC;
  -moz-animation-name: rigthC;
  -o-animation-name: rigthC;
  animation-name: rigthC;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes rigthC {
  0% {
    left: 50%;
    opacity: 0.4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
  20% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50;
  }
  100% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90;
  }
}
@-webkit-keyframes rigthC {
  0% {
    left: 50%;
    opacity: 0.4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
  20% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50;
  }
  100% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90;
  }
}
.container_carru #items .animateleftL {
  -webkit-animation-name: leftL;
  -moz-animation-name: leftL;
  -o-animation-name: leftL;
  animation-name: leftL;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes leftL {
  0% {
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90;
  }
  30% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50;
  }
  100% {
    left: 50%;
    opacity: 0.4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
}
@-webkit-keyframes leftL {
  0% {
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90;
  }
  30% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50;
  }
  100% {
    left: 50%;
    opacity: 0.4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
}
.container_carru #items .animateleftR {
  -webkit-animation-name: leftR;
  -moz-animation-name: leftR;
  -o-animation-name: leftR;
  animation-name: leftR;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes leftR {
  0% {
    left: 50%;
    opacity: 0.1;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
  100% {
    left: 50%;
    opacity: 0.4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
}
@-webkit-keyframes leftR {
  0% {
    left: 50%;
    opacity: 0.1;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9);
  }
  100% {
    left: 50%;
    opacity: 0.4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
}
.container_carru #items .animateleftC {
  -webkit-animation-name: leftC;
  -moz-animation-name: leftC;
  -o-animation-name: leftC;
  animation-name: leftC;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
}
@-webkit-keyframes leftC {
  0% {
    opacity: 0.4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90;
  }
}
@keyframes leftC {
  0% {
    opacity: 0.4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90;
  }
}


.cover{
	top:0px;
	width:100%;
	height:100%;
	text-align:center;
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	opacity:0;
}



</style>

